<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GRFAcquireMS</key>
	<integer>2000</integer>
	<key>GRFAlphaTargetDetectionTask</key>
	<true/>
	<key>GRFBehaviorWindowVisible</key>
	<true/>
	<key>GRFBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>GRFBlockLimit</key>
	<integer>100</integer>
	<key>GRFBreakPunishMS</key>
	<integer>0</integer>
	<key>GRFCatchTrialPC</key>
	<real>5</real>
	<key>GRFCatchTrialMaxPC</key>
	<real>5</real>
	<key>GRFMapInterstimDurationMS</key>
	<integer>0</integer>
	<key>GRFMappingBlocks</key>
	<integer>5</integer>
	<key>GRFMapStimDurationMS</key>
	<integer>100</integer>
	<key>GRFMapStimContrastPC</key>
	<real>100</real>
	<key>GRFMapStimRadiusSigmaRatio</key>
	<real>3</real>
	<key>GRFStimTableCounts</key>
	<array>
		<dict>
			<key>row</key>
			<string>n</string>
			<key>azimuthCount</key>
			<integer>3</integer>
			<key>elevationCount</key>
			<integer>3</integer>
			<key>spatialFreqCount</key>
			<integer>3</integer>
			<key>sigmaCount</key>
			<integer>3</integer>
			<key>orientationCount</key>
			<integer>3</integer>
			<key>contrastCount</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>GRFStimTables</key>
	<array>
		<dict>
			<key>row</key>
			<string>min</string>
			<key>azimuthDeg0</key>
			<real>1</real>
			<key>elevationDeg0</key>
			<real>1</real>
			<key>spatialFreqCPD0</key>
			<real>0.5</real>
			<key>sigmaDeg0</key>
			<real>0.5</real>
			<key>orientationDeg0</key>
			<real>0</real>
			<key>contrastPC0</key>
			<integer>0</integer>
			<key>azimuthDeg1</key>
			<real>1</real>
			<key>elevationDeg1</key>
			<real>1</real>
			<key>spatialFreqCPD1</key>
			<real>0.5</real>
			<key>sigmaDeg1</key>
			<real>0.5</real>
			<key>orientationDeg1</key>
			<real>0</real>
			<key>contrastPC1</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>row</key>
			<string>max</string>
			<key>azimuthDeg0</key>
			<real>3</real>
			<key>elevationDeg0</key>
			<real>3</real>
			<key>spatialFreqCPD0</key>
			<real>4</real>
			<key>sigmaDeg0</key>
			<real>2</real>
			<key>orientationDeg0</key>
			<real>240</real>
			<key>contrastPC0</key>
			<integer>100</integer>
			<key>azimuthDeg1</key>
			<real>3</real>
			<key>elevationDeg1</key>
			<real>3</real>
			<key>spatialFreqCPD1</key>
			<real>4</real>
			<key>sigmaDeg1</key>
			<real>2</real>
			<key>orientationDeg1</key>
			<real>240</real>
			<key>contrastPC1</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>GRFChangeArray</key>
	<array>
		<dict>
			<key>change</key>
			<integer>2</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>4</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>6</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>8</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>10</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>12</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>14</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>16</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>18</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>20</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>22</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>24</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>GRFChangeRemain</key>
	<true/>
	<key>GRFChangeScale</key>
	<integer>0</integer>
	<key>GRFContrastFactor</key>
	<real>0.5</real>
	<key>GRFContrast</key>
	<integer>100</integer>
	<key>GRFContrasts</key>
	<integer>8</integer>
	<key>GRFCueMS</key>
	<integer>250</integer>
	<key>GRFEyeToUse</key>
	<integer>0</integer>
	<key>GRFOrientationChanges</key>
	<integer>8</integer>
	<key>GRFDoSounds</key>
	<true/>
	<key>GRFEyeXYDoGrid</key>
	<true/>
	<key>GRFEyeXYDoTicks</key>
	<integer>1</integer>
	<key>GRFEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>GRFEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>GRFEyeXYDrawCal</key>
	<true/>
	<key>GRFEyeXYGridDeg</key>
	<real>5</real>
	<key>GRFEyeXYHScroll</key>
	<integer>3500</integer>
	<key>GRFEyeXYMag</key>
	<real>30</real>
	<key>GRFEyeXYOneInN</key>
	<integer>1</integer>
	<key>GRFEyeXYTickDeg</key>
	<real>1</real>
	<key>GRFEyeXYVScroll</key>
	<integer>3500</integer>
	<key>GRFEyeXYWindowVisible</key>
	<true/>
	<key>GRFEyeXYFadeDots</key>
	<true/>
	<key>GRFFixGraceMS</key>
	<integer>0</integer>
	<key>GRFFixWindowWidthDeg</key>
	<real>1</real>
	<key>GRFFixate</key>
	<true/>
	<key>GRFFixateOnly</key>
	<false/>
	<key>GRFFixateMS</key>
	<integer>0</integer>
	<key>GRFFixJitterPC</key>
	<integer>0</integer>
	<key>GRFInstructionTrials</key>
	<integer>1</integer>
	<key>GRFIntertrialMS</key>
	<integer>1500</integer>
	<key>GRFInterstimJitterPC</key>
	<integer>50</integer>
	<key>GRFInterstimMS</key>
	<integer>250</integer>
	<key>GRFInvalidRewardFactor</key>
	<real>1</real>
	<key>GRFKdlPhiDeg</key>
	<real>180</real>
	<key>GRFKdlThetaDeg</key>
	<real>90</real>
	<key>GRFMaxContrast</key>
	<integer>100</integer>
	<key>GRFMinTargetMS</key>
	<integer>200</integer>
	<key>GRFMaxTargetMS</key>
	<integer>5000</integer>
	<key>GRFMeanTargetMS</key>
	<integer>2500</integer>
	<key>GRFNumInstructTrials</key>
	<integer>2</integer>
	<key>GRFPrecueMS</key>
	<integer>250</integer>
	<key>GRFRandTaskGaborDirection</key>
	<false/>
	<key>GRFReactMS</key>
	<integer>750</integer>
	<key>GRFRelDistractorProb</key>
	<real>1</real>
	<key>GRFRespTimeMS</key>
	<integer>500</integer>
	<key>GRFRespSpotSizeDeg</key>
	<real>0.25</real>
	<key>GRFRespWindowWidthDeg</key>
	<real>2</real>
	<key>GRFRewardMS</key>
	<integer>100</integer>
	<key>GRFMinRewardMS</key>
	<integer>100</integer>
	<key>GRFRewardSchedule</key>
	<integer>0</integer>
	<key>GRFRadiusDeg</key>
	<real>8</real>
	<key>GRFSaccadeTimeMS</key>
	<integer>200</integer>
	<key>GRFSeparationDeg</key>
	<real>2.5</real>
	<key>GRFSigmaDeg</key>
	<real>0.25</real>
	<key>GRFSpatialFreqCPD</key>
	<real>4</real>
	<key>GRFSpatialModulationType</key>
	<integer>1</integer>
	<key>GRFSpatialPhaseDeg</key>
	<real>90</real>
	<key>GRFSpikeWindowVisible</key>
	<true/>
	<key>GRFSpikeWindowZoom</key>
	<integer>100</integer>
	<key>GRFStimDurationMS</key>
	<integer>250</integer>
	<key>GRFStimDistribution</key>
	<integer>0</integer>
	<key>GRFStimJitterPC</key>
	<integer>0</integer>
	<key>GRFSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowVisible</key>
	<true/>
	<key>GRFSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>GRFSummaryWindowZoom</key>
	<integer>100</integer>
	<key>GRFTargetAlpha</key>
	<integer>0</integer>
	<key>GRFTargetRadius</key>
	<integer>0</integer>
	<key>GRFContrastPC</key>
	<real>100</real>
	<key>GRFMaxDirChangeDeg</key>
	<real>90</real>
	<key>GRFMinDirChangeDeg</key>
	<real>5</real>
	<key>GRFTaskStatus</key>
	<integer>0</integer>
	<key>GRFTemporalFreqHz</key>
	<real>0</real>
	<key>GRFTemporalModulationParam</key>
	<integer>1</integer>
	<key>GRFTemporalModulationType</key>
	<integer>2</integer>
	<key>GRFTemporalPhaseDeg</key>
	<real>0</real>
	<key>GRFTooFastMS</key>
	<integer>100</integer>
	<key>GRFTrialWindowVisible</key>
	<true/>
	<key>GRFTrialWindowZoom</key>
	<integer>100</integer>
	<key>GRFStimRepsPerBlock</key>
	<integer>16</integer>
	<key>GRFTries</key>
	<integer>1</integer>
</dict>
</plist>
